<% layout("/layouts/boilerplate.ejs")%>
<body>
 <br>   
<div class="row new-form">
    <div class="col-md-8 offset-2">
        <h3><%= listing.title %></h3>
    <div class="card">
        <img src="<%= listing.image %>" class="card-img-top show-img" alt="...">
        <div class="card-body">
          <p class="card-text"><b> 
            <%= listing.description %> <br>
            &#8377;<%= listing.price %> <br>
            <%= listing.location%> <br>
            <%= listing.country %></p>
            
        </div>
   
    
    <br>
    <div class="col-1 show-btn">
        
        <a id="edit-btn" class="btn btn-dark add-btn " href="/listings/<%= listing._id %>/edit">Edit</a>
        
        
        <form action="/listings/<%= listing._id %>?_method=DELETE" method="POST"><button class="btn btn-dark ">Delete </button></form>
    </div>
    <!-- Review Section -->
     <div class="col-8 mb-3">
        <hr>
        <h4>Leave a Review</h4>
        <form action="/listings/<%= listing.id %>/reviews" method="post" novalidate class="needs-validation">
         <div class="mb-3 mt-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="range" min="1" max="5" id="rating" name="review[rating]" class="form-range">
         </div>
         <div class="mb-3 mt-3">
            <label for="comment" class="form-label">Comments</label>
            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control" required></textarea>
            <div class="invalid-feedback">Please Sumbit Some Comments</div>
         </div>
         <button class="btn btn-outline-dark">Submit</button>
        </form>
        </div>
    <hr>
    <h4>All Reviews</h4>
    <% for(review of listing.reviews) { %>
        <li><%= review.comment %>,<%= review.rating %>stars</li>
        <% } %>
    </div>
    </div>
   
    </div>
  
</body>
